<header class="navbar navbar-default navber-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Payment Reporter</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="" data-toggle="dropdown">Generate Report<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/report/weekly/{{ week | encodeURIComponent }}">For This Week</a></li>
                            <li><a href="/#/report/annual/2014">For 2014</a></li>
                            <li><a href="/#/report/annual/2015">For 2015</a></li>
                            <li><a href="/#/report/annual/2016">For 2016</a></li>
                            <li><a href="/#/report/annual/2017">For 2017</a></li>
                            <li><a href="/#/report/annual/2018">For 2018</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog" style="cursor:pointer">
                            </span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/users">Manage Users</a></li>
                            <li><a href="/#/members">Manage Members</a></li>
                            <li><a href="/#/weeks">Manage Weeks</a></li>
                        </ul>
                    </li>
                    <li><a href="/#/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div class="container">
<h2><a href="/#/members" class="glyphicon glyphicon-chevron-left">    </a>Payments for {{ member.name }}</h2>
<table id="payments" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Check #</th>
            <th>Amount</th>
            <th>Breeze ID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in payments ">
            <td>{{ p.id }}</td>
            <td>{{ p.checkNumber }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.breeze_id }}</td>
            <td ng-click="updateMember(p)"><button class="btn btn-default"><span class="glyphicon glyphicon-pencil" style="cursor:pointer"></span></button></td>
            <td ng-click="del(p)"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove" style="color:whitesmoke;cursor:pointer"></span> </button></td>
        </tr>
    </tbody>
</table>
</div>
